/* Master styles*/
body {
    margin: 0px;
    background-color:white 
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

.about-container{
    width: 150%;
    height: 600px;
    background-color: #9ABEC2;
    border-radius: 20px;
    box-shadow: 4px 4px 10px rgba(44,56, 83, 0.8);
    display: flex;
    margin: 300px auto 15px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;   
}

.about-container img{
    height:300px;
}

.about-text{
    width:500px;
}

.about-text p:nth-child(1){
    color: #fefefc;
    font-size: 45px;
    font-weight: bold;
    font-family: script MJ hand, cursive;
    text-align: center;

}

.about-text p:nth-child(2){
    color: #fefefc;
    font-size: 28px;
    font-family: cursive;
    text-align: center;
}

/* Nav styles*/
.nav-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #975665;
    box-shadow: 5px 5px 10px rgba(44, 56, 83, 0.5); 
}
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;

}
.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size:0.9em;
    text-transform: uppercase;
}

.nav-link-wrapper{
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom:1px solid black;
}

.nav-link-wrapper a:hover {
    color:black;
}


.head-img{
    width: 400px;
    height: 400px;
}
/* Portfolio styles*/
